.box1 {
    background-color: blue;
    margin-right: 20px;
    

}
.box2 {
    background-color: green;
    margin: 20px;

}
.box3 {
    background-color: yellow;
    margin: 20px;
    padding: 20px;

}
.box1, .box2, .box3 {
    border: 10px solid black;
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: purple;
}
h1 {
    margin: 20px;
    color: red;
}